<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
</head>

<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="username" name="username"><br>
        <textarea name="content" id="text" placeholder="write you content here"></textarea><br>
        <button>add</button>
    </form>
</body>

</html>